<div class="container">

  <div class="row">
    <div class="col-md-10"></div>
    <div class="col col-md-2">
      <button class="btn btn-primary pull-right" (click)="createAuthorForm()">Add Article</button>
    </div>
  </div>

  <div class="row">

    <h2>All Articles</h2>
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Published Date</th>
        <th>No. of Views</th>
        <td>Actions</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let article of articles">
        <td>{{article.id}}</td>
        <td>{{article.title}}</td>
        <td>{{article.publishDate}}</td>
        <td>{{article.noOfViews}}</td>
        <td>
          <button class="btn btn-primary mr-3" (click)="editAuthor(user)">Edit</button>
          <button class="btn btn-danger mr-3" (click)="editAuthor(user)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
