<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container">
    <a class="navbar-brand" routerLink="" routerLinkActive="active">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ml-5">
          <a class="nav-link" routerLink="/news" routerLinkActive="active">News</a>
        </li>

        <li *ngFor="let category of categories" class="nav-item ml-5">
          <a class="nav-link" routerLink="/{{category.name}}" routerLinkActive="active">{{category.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
