
<div class="container">
  <div class="row text-center">
    <form class="form-signin" (submit)="submit()">
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <div *ngIf="loginError" class="form-group row">
        <p class="alert-danger">Invalid Credentails!</p>
      </div>
      <label class="sr-only">Email address</label>
      <input type="email" name="inputEmail" class="form-control" placeholder="Email address" required autofocus [(ngModel)]="user.username">
      <label class="sr-only">Password</label>
      <input type="password" name="inputPassword" class="form-control" placeholder="Password" required [(ngModel)]="user.password">
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <button class="btn btn-lg btn-danger btn-block" (click)="cancel()">Cancel</button>
    </form>
  </div>
</div>
